@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&family=Raleway:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #a7ffeb;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card{
    background: #fff;
    height: 380px;
    width: 300px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.card .content{
    color: #202020;
    text-align: center;
    transform-style: preserve-3d;
}

.content .user{
    height: 100px;
    width: 100px;
    background: #33ffcf;
    border: 1px solid #1affc9;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(50px);
}

.user .fa-user{
    color: white;
    font-size: 40px;
    line-height: 100%;
}

.content header{
    margin: 20px 0;
    font-size: 32px;
    font-weight: 600;
    transform: translateZ(50px);
}

.content .follow-us{
    font-size: 23px;
    font-weight: 600;
    transform: translateZ(50px);
}

.content .icons{
    margin: 20px 0 10px 0;
    transform: translateZ(50px);
}

.icons a{
    margin: 0 4px;
}

.icons a span{
    height: 45px;
    width: 45px;
    background: #33ffcf;
    border: 1px solid #1affc9;
    line-height: 44px;
    border-radius: 50%;
    color: #fff;
}

